<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member_search</title>
    <link rel="stylesheet" href="css/member.css">
    <script defer src="js/member.js"></script>
</head>
<body>
    <div class="box">
        <h1>회원조회</h1>
        <a href="/">HOME</a>
        <div class='cnt'>건수 : [[${list.size()}]]</div>
        <form name="frmSearch" method="post" class="frmSearch">
            <input type="text" name="id" class="id"/>
            <input type="button" class="btnSearch" value="검색"/>
        </form>
        <div class="list">
            <div class="title">
                <span class="id">아이디</span>
                <span class="name">성명</span>
                <span class="address">주소</span>
                <span class="phone">연락처</span>
            </div>
            <div class="items">
                <div class="item" th:each="d : ${list}">
                    <span class="id">[[${d.id}]]</span>
                    <span class="name">[[${d.name}]]</span>
                    <span class="address">[[${d.address}]]</span>
                    <span class="phone">[[${d.phone}]]</span>
                </div>
                
            </div>
        </div>
    </div>        
</body>
</html>