<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member view</title>
    <script defer src="/js/member.js"></script>
</head>
<body>
    <div class="member">
        <h1>회원정보 상세보기</h1>
        <form name="frmSearch" method="post">
            <input type="text" name="id" th:value="${vo.id}" /><br/>
            <input type="text" name="name" th:value="${vo.name}" /><br/>
            <input type="text" name="address1" th:value="${vo.address1}" /><br/>
            <input type="text" name="phone" th:value="${vo.phone}" /><br/>

            <button type="button" class="btnModify">수정</button>
            <button type="button" class="btnDelete">삭제</button>
            <button type="button" class="btnSearch">목록으로</button>
        </form>
    </div>
</body>
</html>