<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <div class="index">
        <h1>Dynamic INDEX</h1>
        <a href="/">HOME</a><br/>
        <a href="/if">if</a><br/>
        <a href="/choose">choose</a><br/>
        <a href="/trim">trim</a><br/>
        <a href="/foreach">foreach</a>
    </div>
    <div id="msg" style="padding:10px;background-color:#ddd;margin-top:20px;height:20px;">
        [[${msg}]]
    </div>
</body>
</html>